

p {
  padding-bottom: 10px;
}

.color-brand {
  color: var(--lwc-colorBrand);
}

.checkbox-element {
  display: inline-block;
  float: left;
  white-space: nowrap !important;
}

table {
  border-bottom: none;
}

.empty-margin {
  margin-top: 70px;
  margin-bottom: 50px;
}
