

p {
    padding-bottom: 10px;
}

.color-brand {
    color: var(--lwc-colorBrand);
}

.checkbox-element {
    display: inline-block;
    float: left;
    white-space: nowrap !important;
}

.full-height {
    height: 100%;
}

.parent-container {
    height: 350px;
}

.disclaimer {
    font-size: 11px;
}

.slds-spinner_container{
    background: none;
}

.spinner-height {
    height: 500px;
}