

.input-padding {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}

.search-results-list {
    margin-top: 0;
    max-height: 450px;
    overflow: auto;
    border-top: 0;
    position: absolute;
}

.search-result-item {
    padding-top: 5px;
    padding-bottom: 5px;
}

.search-result-item:hover {
    cursor: pointer;
    background-color: rgb(243, 242, 242);
}

.search-result-item:nth-child(2) {
    padding-top: 0;
}

.search-result-item:last-child {
    padding-bottom: 0;
}

.no-results-item {
    padding-top: 0;
    padding-bottom: 0;
}

.font-weight-bold {
    font-weight: bold;
}

.disable-input {
    pointer-events: none;
}
