

.cart-header {
    font-size: 1.75rem;
}

.empty-text {
    color: var(--lwc-colorTextWeak);
    margin-top: 55px;
    font-size: 1.25rem;
}

.empty-text-detail {
    color: var(--lwc-colorTextWeak);
    font-size: 0.8125rem;
}

.border-color {
    border-color: var(--lwc-colorBorder) !important;
}
